<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Information</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h2>Student Information</h2>
        <form action="/student/submit-student-info" method="POST">
            <input type="hidden" name="paperId" value="<%= paper._id %>">
            <input type="hidden" name="paperTitle" value="<%= paper.title %>">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" name="email" id="email" required>
            </div>
            <div class="form-group">
                <label for="firstName">First Name</label>
                <input type="text" class="form-control" name="firstName" id="firstName" required>
            </div>
            <div class="form-group">
                <label for="middleName">Middle Name</label>
                <input type="text" class="form-control" name="middleName" id="middleName">
            </div>
            <div class="form-group">
                <label for="lastName">Last Name</label>
                <input type="text" class="form-control" name="lastName" id="lastName" required>
            </div>
            <div class="form-group">
                <label for="dateOfBirth">Date of Birth</label>
                <input type="date" class="form-control" name="dateOfBirth" id="dateOfBirth" required>
            </div>
            <div class="form-group">
                <label for="fatherName">Father's Name</label>
                <input type="text" class="form-control" name="fatherName" id="fatherName" required>
            </div>
            <div class="form-group">
                <label for="motherName">Mother's Name</label>
                <input type="text" class="form-control" name="motherName" id="motherName" required>
            </div>
            <div class="form-group">
                <label for="age">Age</label>
                <input type="number" class="form-control" name="age" id="age">
            </div>
            <div class="form-group">
                <label for="gender">Gender</label>
                <select class="form-control" name="gender" id="gender" required>
                    <option value="" disabled>Select Gender</option>
                    <option value="Male" >Male</option>
                    <option value="Female" >Female</option>
                    <option value="Other" >Other</option>
                </select>
            </div>
            <div class="form-group">
                <label for="city">City</label>
                <input type="text" class="form-control" name="city" id="city" >
            </div>
            <div class="form-group">
                <label for="address">Address</label>
                <textarea class="form-control" name="address" id="address" required></textarea>
            </div>
            <div class="form-group">
                <label for="state">State</label>
                <input type="text" class="form-control" name="state" id="state">
            </div>
            <div class="form-group">
                <label for="country">Country</label>
                <input type="text" class="form-control" name="country" id="country" >
            </div>
            <div class="form-group">
                <label for="zipCode">Zip Code</label>
                <input type="text" class="form-control" name="zipCode" id="zipCode" >
            </div>
            <div class="form-group">
                <label for="mobileNumber">Mobile Number</label>
                <input type="text" class="form-control" name="mobileNumber" id="mobileNumber" required>
            </div>
            <div class="form-group">
                <label for="alternateMobileNumber">Alternate Mobile Number</label>
                <input type="text" class="form-control" name="alternateMobileNumber" id="alternateMobileNumber" >
            </div>
            <div class="form-group">
                <label for="college">College</label>
                <input type="text" class="form-control" name="college" id="college" >
            </div>
            <div class="form-group">
                <label for="school">School</label>
                <input type="text" class="form-control" name="school" id="school" required>
            </div>
            <div class="form-group">
                <label for="couponCode">Coupon Code</label>
                <input type="text" class="form-control" name="couponCode" id="couponCode" required>
            </div>
            <button type="submit" class="btn btn-primary mt-4 mb-4">Submit</button>
        </form>
    </div>

    <!-- Include Bootstrap JavaScript for any additional functionality -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
